html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

/* This will disable text selection for all <p> fields*/
p {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.main-container {
    background-color: black;
    border: 0px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px white;
    width: 98%;
    height: 98%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.container {
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px white;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 250px;
    top: 250px;
}

.btn_drag {
    background-color: white;
    background-image: url("./images/arrows.png");
    background-size: contain;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -12px;
    top: -12px;
    border-radius: 50%;
}

.btn_close {
    background-color: white;
    background-image: url("./images/close.png");
    background-size: contain;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -12px;
    top: -12px;
    border-radius: 50%;
}

.btn_scale {
    background-color: white;
    background-image: url("./images/scale_arrow.png");
    background-size: contain;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -12px;
    bottom: -12px;
    border-radius: 50%;
}






.button_list {
    border-radius: 5px;
    box-shadow: 0 0 0px 0px white;
    width: 150px;
    height: 450px;
    position: absolute;
    left: 20px;
    top: 30px;
}

.menu_button {
    border: 1px solid white;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: black;
}
.menu_button:hover {
    box-shadow: 0 0 5px 2px white;
}

.btn_txt {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 0px;
    margin-left: 0px;
    color: white;
    font-weight: bold;
    line-height: 50px;
    padding-left: 10px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.big_txt {
    font-size: 25px;
}
.small_txt {
    font-size: 23px;
}


/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}



.clock_div {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 80%;
}

.clock_txt {
    color: white;
    text-align: right;
    font-size: 30px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 0px;
    margin-left: 0px;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.date {
    font-size: 20px;
}


.weather_main_div {
    position: absolute;
    right: 30px;
    top: 95px;
    width: 80%;
}

.weather_main_div p {
    color: white;
    text-align: right;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.weather_txt {
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
}

.temp {
    font-size: 20px;
    padding-top: 0px;
}


.btn {
    background-color: white;
    border-radius: 15px;
    position: absolute;
    right: -25px;
    top: 0px;
    width: 15px;
    height: 100%;
    height: 60px;
}
.btn:hover {
    box-shadow: 0 0 5px 2px white;
}